@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);

:root{
    --text-color: #f4f4f5;
    --background-color1: #6ECAFF;
    --background-color2: #fbcac9;
    --background-color3: #8ca6ce;
    --background-color4: #dfd3df;
}
.navar-brand, h1, h2, h3, h4{
	font-family: 'jeju Gothic';
}

h5 {
	
	font-family: 'jeju Gothic';
	font-size: 18px;
	

}
d-flex{
	text-align:center;
	width: 100%;
}

body {
	background: linear-gradient(135deg, var(--background-color1), var(--background-color4));  
  
}
.navbar {
  margin-bottom: 0;
}

content{
	width: 100%;
	min-height: 380px; /* 최소높이 */
	height: auto;
	background-color: #0000ff;
	float: center;
}
.footer{
  height: 100px;
  background: #333;
  color: rgb(0, 0, 0);
  font-size: 60px;
  text-align: center;
}
.col-sm-4 col-sm-offset-2{
	align-items: center;
}
.menu { text-align: center; }
.menu ul { display:inline-table; }
.menu li { display:inline; }

.navbar-brand{
	font-size: 2rem;
}
.hot{
	text-align: center;
	margin: 20px;
}
.navbar-brand {
	cursor: pointer;

}
.navbar-brand span{
    background: linear-gradient(to right, var(--background-color2), var(--background-color3));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
 
.a{
	text-align: center;
}



    
    